{% extends "layout.njk" %}

{% block head %}

    <head>
        <title>Sobre - Matheus Ferreira</title>
    </head>

{% endblock %}

{% block content %}

        <div id="wrapper">
            <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/p960x960/78137805_2249289121844149_2610958843131199488_o.jpg?_nc_cat=105&_nc_ohc=ypx3B8OZULYAX9l5LJh&_nc_ht=scontent-gru2-2.xx&_nc_tp=6&oh=7e2db25c457d686473096526861aca1b&oe=5ECB00E3" alt="Matheus Ferreira">
            <h1>Matheus Ferreira</h1>
            <h2>Desenvolvedor - Aquanima</h2>
            <p>Desenvolvedor full-stack Java e banco de dados SQL, colaborador da <a href="https://www.aquanima.com/en/" target="_blank">Aquanima Brasil</a></p>
        </div>

{% endblock %}