{% extends "layout.njk" %}

{% block content %}

    <div id="not-found">
        <h1>Erro 404 - Página não encontrada</h1>
        <p>A página solicitada não foi encontrada.</p>
        <p>Veja se o link foi digitado de forma correta e tente novamente.</p>
    </div>

{% endblock %}