<!DOCTYPE html>
<html>

    <head>
        <title>Matheus Ferreira</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Músicas</a>
            </div>
        </header>

        <div id="wrapper">
            <h1>Aulas</h1>
        </div>

        <section class="cards">

            <div class="card" id="fJ9rUzIMcZQ">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/fJ9rUzIMcZQ/maxresdefault.jpg" alt="Bohemian Rhapsody">
                </div>
                <div class="card_content">
                    <p>Bohemian Rhapsody | Queen</p>
                </div>
                <div class="card_info">
                    <p> 6min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="DyDfgMOUjCI">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/DyDfgMOUjCI/maxresdefault.jpg" alt="Bad Guy">
                </div>
                <div class="card_content">
                    <p>Bad Guy | Billie Elish</p>
                </div>
                <div class="card_info">
                    <p> 3min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="N2Y2vQ-1m7M">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/N2Y2vQ-1m7M/maxresdefault.jpg" alt="Lalala">
                </div>
                <div class="card_content">
                    <p>Lalala | bbno$</p>
                </div>
                <div class="card_info">
                    <p> 3min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="LL-gyhZVvx0">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/LL-gyhZVvx0/maxresdefault.jpg" alt="Doin' It Right">
                </div>
                <div class="card_content">
                    <p>Doin' It Right | Daft Punk</p>
                </div>
                <div class="card_info">
                    <p> 4min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="59zs16-G7ZM">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/59zs16-G7ZM/maxresdefault.jpg" alt="Oh No!">
                </div>
                <div class="card_content">
                    <p>Oh No! | Grandson</p>
                </div>
                <div class="card_info">
                    <p> 3min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="IPZYid3SfMQ">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/IPZYid3SfMQ/maxresdefault.jpg" alt="olha p oclin">
                </div>
                <div class="card_content">
                    <p>Olha p oclin | Sidoka</p>
                </div>
                <div class="card_info">
                    <p> 4min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <div class="modal-content">
                    <iframe src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/ledoctah" target="_blank">Github</a>
            <a href="https://twitter.com/ledoctah" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/ferreira-matheus/" target="_blank">Linkedin</a>
        </div>

        <script src="scripts.js"></script>
    </body>

</html>